<div class="container">
  <div class="displayTableCell">

      <h3>Sign In</h3>

    <form novalidate (ngSubmit)="signIn()" class="form-group col-6" [formGroup]="signInForm">
        <label for="userName">User name</label>
        <input type="text" class="form-control" id="userName" formControlName="userName"
        name='userName'>
        <label for="userPassword">User name</label>
        <input type="password" class="form-control" id="userPassword" autocomplete="new-password" formControlName="userPassword"
        name='userPassword'>
      <br>
        <button type="submit" id="submitButton" class="btn btn-primary btn-lg"> Sign in </button>


    </form>

      <div class="formGroup row">
        <span class="or"><span class="or-inner">Or</span></span>
      </div>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup row">
        <button type="button" class="btn googleBtn enlarge2" (click)="signInWithGoogle()">
          <i class="fab fa-google-plus-g"></i>
          Sign in with Google
        </button>
      </div>

      <div class="forgotPassword enlarge2">
        <a class="no-underline" [routerLink]="['/login/forgot-password']" routerLinkActive="router-link-active" >Forgot Password?</a>
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Don't have an account?<a class="redirect enlarge2 no-underline" [routerLink]="['/login/register-user']" routerLinkActive="router-link-active"> Sign Up</a></span>
    </div>

</div>
