<div class="container">
  <div class="displayTableCell">



    <div class="authBlock">
      <h3>Sign In</h3>
      <div class="formGroup row">
        <input type="text" class="col-sm-6 col-form-label" placeholder="Username" #userName required>
      </div>
      <div>
        <br>
      </div>

      <div class="formGroup row">
        <input type="password" class="col-sm-6 col-form-label" placeholder="Password" #userPassword required>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup row">
        <input type="button" class="btn btnPrimary nagyit2" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>

      <div class="formGroup row">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup row">
        <button type="button" class="btn googleBtn nagyit2" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>

      <div class="forgotPassword nagyit2">
        <span (click)="forgotPassword()">Forgot Password?</span>
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Don't have an account?<span class="redirect nagyit2" (click)="signUp()" > Sign Up</span></span>
    </div>

  </div>
</div>

