<div *ngIf="items?.length > 0; else noItem" id="table">
  <table id="customers">
    <thead>
      <th>Full name</th>
      <th>Id</th>
      <th>Edit</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.fName}} {{item.lName}}</td>
        <td>{{item.id}}</td>
        <td><a routerLink='customer-details/{{item.id}}'>
          <i class="fas fa-pencil-alt nagyit"></i>
        </a></td>
      </tr>
    </tbody>

  </table>

<ng-template #noItem>
  <hr>
  <h4>There is no item in the list</h4>
</ng-template>
