<div *ngIf="items?.length > 0; else noItem" >
  <ul *ngFor="let item of items" class="collection-item">
    <li>
      <b>
        <br>
      {{item.fName}}
      {{item.lName}}
      </b>
      <br>
      {{item.age}} éves
      <br>
      email cím: {{item.email}}
      <br>
      gender: {{item.gender}}
      <br>
      Full time: {{item.isFullTime}}
      <br>
      Tapasztalat: {{item.yearsOfExperience}} év
      <br>
      id: {{item.id}}
      <br>
      <a href="#" class="secondary-content">
        <i (click)= "editItem(item)" class="fas fa-pencil-alt"></i>
        <div *ngIf="editState" >
        <i (click)= "clearState(item)" class="fas fa-reply"></i>
        </div>
      </a>
      <div *ngIf="editState && itemToEdit.id == item.id" >
          <form (ngSubmit)="updateItem(item)">
              <div>
                  First Name
                  <input type="text" placeholder="First Name" [(ngModel)]='item.fName' name='fName' >
                </div>
                <div>
                    Last Name
                  <input type="text" placeholder="Last Name" [(ngModel)]='item.lName' name='lName' >
                </div>
                <div>
                  Age
                    <input type="text" placeholder="Age" [(ngModel)]='item.age' name='age' >
                  </div>

                <div>
                  Email
                  <input type="text" placeholder="email address" [(ngModel)]='item.email' name='email'>
                </div>
                <div>
                  Gender
                  <input type="text" placeholder="Gender" [(ngModel)]='item.gender' name="gender">
                </div>
                <div>
                  Is full time?
                  <input type="text" placeholder="isFullTime" [(ngModel)]='item.isFullTime' name="isFullTime">
                </div>
                <div>
                  Years of experience
                    <input type="text" placeholder="years Of Experience (number)" [(ngModel)]='item.yearsOfExperience'
                    name="yearsOfExperience">
                </div>
                <button (click)= "deleteItem(item)">delete record</button>
                <div>
                  <input type="submit" value="Update">
                </div>
          </form>
      </div>

    </li>
  </ul>
</div>

<ng-template #noItem>
  <hr>
  <h4>There is no item in the list</h4>
</ng-template>
