<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reset Password</h3>

      <p>Please enter your email address to request a password reset.</p>

      <form novalidate (ngSubmit)="forgotPassword()" class="form-group col-6" [formGroup]="forgetPasswordForm">
          <label for="userName">User name</label>
          <input type="email" id="userName" placeholder="Email Address" class="form-control" formControlName="userName" name='userName'
          [ngClass]="{'is-invalid': (forgetPasswordForm.get('userName').touched ||
          forgetPasswordForm.get('userName').dirty) && !forgetPasswordForm.get('userName').valid}"/>
          <span class="invalid-feedback">
              <span *ngIf="forgetPasswordForm.get('userName').hasError('required')">
                Please enter user name
              </span>
              <span *ngIf="forgetPasswordForm.get('userName').hasError('email')">
                The format of user name must be email
              </span>
            </span>

          <br>
          <button type="submit" id="submitButton" class="btn btn-primary btn-lg"> Reset password</button>

        </form>

    <div class="redirectToLogin">
      <span>Go back to ? <a class="redirect enlarge2 no-underline"  [routerLink]="['/login']" routerLinkActive="router-link-active" >Sign In</a></span>
    </div>

  </div>
</div>
