<div>
  <form (ngSubmit)="onSubmit()" class="form-group">
    <div>

      <label for="First Name">First name</label>
      <input type="text" class="form-control" id="First Name" placeholder="First Name" [(ngModel)]='item.fName'
        name='fName'>
    </div>
    <div>
      <label for="Last Name">Last name</label>
      <input type="text" class="form-control" id="Last Name" placeholder="Last Name" [(ngModel)]='item.lName'
        name='lName'>
    </div>
    <div>
      <label for="Age">Age</label>
      <input type="text" class="form-control" id="Age" placeholder="Age" [(ngModel)]='item.age' name='age'>
    </div>

    <div>
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="email address" [(ngModel)]='item.email'
        name='email'>
    </div>
    <div>
      <label for="gender">Gender</label>
      <input type="text" class="form-control" id="gender" placeholder="Gender" [(ngModel)]='item.gender' name="gender">
    </div>
    <div>
        <label for="fullTime">Full Time</label>
        <input type="text" class="form-control" id="fullTime" placeholder="isFullTime" [(ngModel)]='item.isFullTime' name="isFullTime">
    </div>
    <div>

      <label for="years Of Experience">Years Of Experience</label>

      <input type="text" class="form-control" id="years Of Experience" placeholder="years Of Experience (number)" [(ngModel)]='item.yearsOfExperience'
        name="yearsOfExperience">
    </div>
    <br>
    


    <div>
      <button type="submit" id="submitButton" class="btn btn-primary btn-lg btn-block"> Submit </button>
    </div>

  </form>
</div>
