<div>
  <form (ngSubmit)="onSubmit()">
    <div>
      <input type="text" placeholder="First Name" [(ngModel)]='item.fName' name='fName' >
    </div>
    <div>
      <input type="text" placeholder="Last Name" [(ngModel)]='item.lName' name='lName' >
    </div>
    <div>
        <input type="text" placeholder="Age" [(ngModel)]='item.age' name='age' >
      </div>

    <div>
      <input type="text" placeholder="email address" [(ngModel)]='item.email' name='email'>
    </div>
    <div>
      <input type="text" placeholder="Gender" [(ngModel)]='item.gender' name="gender">
    </div>
    <div>
      <input type="text" placeholder="isFullTime" [(ngModel)]='item.isFullTime' name="isFullTime">
    </div>
    <div>
        <input type="text" placeholder="years Of Experience (number)" [(ngModel)]='item.yearsOfExperience'
        name="yearsOfExperience">
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>

  </form>
</div>
