<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Sign Up</h3>

      <form novalidate (ngSubmit)="signUp()" class="form-group col-6" [formGroup]="signUpForm">
        <label for="userName">User name</label>
        <input type="email" id="userName" class="form-control" formControlName="userName" name='userName'
        [ngClass]="{'is-invalid': (signUpForm.get('userName').touched ||
        signUpForm.get('userName').dirty) && !signUpForm.get('userName').valid}"/>
        <span class="invalid-feedback">
            <span *ngIf="signUpForm.get('userName').hasError('required')">
              Please enter user name
            </span>
            <span *ngIf="signUpForm.get('userName').hasError('email')">
              The format of user name must be email
            </span>
          </span>

        <label for="userPassword">Password</label>
        <input type="password" class="form-control" id="userPassword" formControlName="userPassword"
          name='userPassword' [ngClass]="{'is-invalid': (signUpForm.get('userPassword').touched ||
          signUpForm.get('userPassword').dirty) && !signUpForm.get('userPassword').valid}">
          <span class="invalid-feedback">
              <span *ngIf="signUpForm.get('userPassword').hasError('required')">
                Please enter your password!
              </span>
              <span *ngIf="signUpForm.get('userPassword').hasError('minlength')">
                  the password must be at least 10 characters long
              </span>
              <span *ngIf="signUpForm.get('userPassword').hasError('maxlength')">
                  the password must be at most 10 characters long
                </span>
            </span>
        <br>
        <button type="submit" id="submitButton" class="btn btn-primary btn-lg"> Sign Up </button>

      </form>

      <div class="formGroup">
        <span class="or"><span class="or-inner">Or</span></span>
      </div>

      <!-- Continue with Google -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn enlarge2" (click)="authService.googleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Continue with Google
        </button>
      </div>

    </div>

    <div class="redirectToLogin">
      <span>Already have an account? <a class="redirect no-underline enlarge2" [routerLink]="['/login']"
          routerLinkActive="router-link-active">Sign In</a></span>
    </div>
  </div>

</div>
