<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Sign Up</h3>

      <div class="formGroup">
        <input type="email" class="col-sm-6 col-form-label" placeholder="Email Address" #userEmail required>
      </div>
      <br>
      <div class="formGroup">
        <input type="password" class="col-sm-6 col-form-label" placeholder="Password" #userPwd required>
      </div>

      <div class="formGroup">
        <input type="button" class="btn btnPrimary nagyit2" value="Sign Up"
          (click)="authService.SignUp(userEmail.value, userPwd.value)">
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      <!-- Continue with Google -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn nagyit2" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Continue with Google
        </button>
      </div>

    </div>

    <div class="redirectToLogin">
      <span>Already have an account? <span class="redirect nagyit2" (click)="logIn()">Log In</span></span>
    </div>
  </div>

</div>
